/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
/* 
- Regular 400 
- Bold 700 
*/

*{ 
    box-sizing: border-box;
    margin: 0; 
    padding:0; 
}   

body{ 
    background-color: black;
    font-family: 'Playfair Display', serif;
}

.container{ 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    /* margin: 30px;  */
}

.card{ 
    background-color: lightslategray;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 40px; 
    border-radius: 10px;
    overflow: hidden;
}

.image img { 
    height: auto;
    width: 100%; 
}

h1{ 
    font-weight: 700; 
    margin: 10px 30px; 
    text-align: center;
    font-size: 18px;
}

p{ 
    text-align: center;

    margin: 10px 30px; 
    font-weight: 400;
    font-size: 11px; 
}

.buttons  { 
    display: flex; 
    font-size: 10px;
    margin: 20px 5px;
    justify-content: center; 
}

.learn-btn{
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 15px; 
    margin-right: 40px;
}

.no-btn{ 
    text-decoration: none;
    color: black; 
    border: 1px solid black; 
    border-radius: 20px;
    padding: 10px 15px; 

}

@media screen and (min-width: 768px){ 
    .card{ 
        flex-direction: row;
       
        width: 100%; 
    }
    h1{ 
        font-size: 36px; 
    }
    p{ 
        
        font-size: 16px;
    }

    .image img { 
        height: 420px; 
        min-width: 300px;
        vertical-align: center; 
    }
    
    .buttons a{ 
        font-size: 14px;
    }
    .learn-btn{ 
        padding: 12px 35px; 
    }

    .no-btn{ 
        padding: 12px 35px; 
    }
    
}


@media screen and (min-width: 1024px){ 
    .card{ 
        max-width: 1200px;
    }
}